@use '../modules/colors';
@use '../modules/fonts';

#home {
  background: colors.$black;
  color: colors.$white;
  position: relative;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
  header {
    position: sticky;
    display: block;
    top: 0;
    left: 0;
    width: calc(100vw - 2em);
    padding: 1em;
    border-bottom: 1px solid colors.$gray;
    background: colors.$black;
    z-index: 5;
    text-align: center;
    h1 {
      color: transparent;
      -webkit-text-stroke: 1px colors.$white;
      font-family: fonts.$serif;
      letter-spacing: .05em;
    }
    .plumbob {
      margin-right: 10px;
    }
    h4 {
      font-family: fonts.$monospace;
      font-size: 1.3em;
      color: colors.$off-white;
      -webkit-text-stroke: 0 transparent;
    }
  }
  .card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
  }
}
