@use '../modules/colors';
@use '../modules/fonts';

#build-card {
  width: calc(100vw - 2em);
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  position: relative;
  border-bottom: 1px solid colors.$gray;
  .details {
    top: 50%;
    left: 7em;
    width: 500px;
    padding: 3em;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(colors.$white, 0.5);
    backdrop-filter: blur(5px);
    border: 1px solid colors.$black;
    h2 {
      font-size: 2.2em;
      color: colors.$black;
      margin-bottom: 1rem;
    }
    p {
      color: colors.$black;
      font-family: fonts.$monospace;
    }
  }
  .image {
    width: 100%;
    position: relative;
    img {
      transition: all 1.5s cubic-bezier(0, 1, 1, 1);
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
