#build-card {
    padding: 1em;
    margin: 1em;
    width: 350px;
    background: white;
    border-radius: 5px;
    color: black;
    transition: all .3s ease;
    h4 {
        font-size: 1.3em;
        font-weight: 600;  
    }
    .image {
        img {
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
    &:hover {
        transform: scale(1.05);
    }
}