//import roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
//import roboto mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap');
//import roboto slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500;700&display=swap');


 $roboto: 'Roboto', sans-serif;
 $serif: 'Roboto Slab', serif;
 $monospace: 'Roboto Mono', monospace;
