//reset
@use './modules/reset';

//modules
@use './modules/fonts';
@use './modules/colors';
@use './modules/mixins';

//layout
@use './layout';

//pages
@use './pages/build';
@use './pages/home.scss';

//components
@use './components/build-card.scss';
@use './components/nav-list.scss';

body {
  background-color: colors.$off-white;
  font-family: fonts.$roboto;
  font-size: 16px;
  color: colors.$black;
  position: relative;
  &.open {
    overflow-y: hidden;
  }
}

p {
  line-height: 1.5;
}
b, strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}


h1 {
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
}

@include mixins.animations;

.slide-in-left {
  animation: slide-in-left 1s ease;
  animation-fill-mode: both;
}
.slide-in-right{
  animation: slide-in-right 1s ease;
  animation-fill-mode: both;
}