@use './modules/colors';
@use './modules/fonts';

#cover {
  display: none;
  background: rgba(#000, 0.85);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  &.open {
    display: block;
  }
}

#layout {
  position: relative;
  cursor: none;
  .cursor {
      width: 30px;
      height: 30px;
      position: absolute;
      border-radius: 50%;
      border: 2px solid white; 
      z-index: 99999;
      transform: translate(-50%, -50%);
      pointer-events: none;
  }
  .nav {
    position: fixed;
    z-index: 999;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    line-height: 0;
    top: 0;
    right: 0;
    background: colors.$red;
    writing-mode: vertical-rl;
    color: colors.$off-white;
    cursor: pointer;
    border-right: 1px solid colors.$light-gray;
    transition: all .7s cubic-bezier(0,.82,.46,1);
    .circle {
      height: 0.5em;
      width: 0.5em;
      margin: 0.1em 0;
      border: 1px solid colors.$off-white;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
    &:hover {
      background: lighten(colors.$red, 8%);
      cursor: none;
      .circle {
        background: colors.$off-white;
      }
    }
    &.open {
      right: 500px;
      
      &:hover {
        background: lighten(colors.$red, 8%);
      }
    }
  }
}
